<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.sheerhouse.user.mapper.UserMapper">
	<!-- 회원가입 -->
	<select id="emailCheck" resultType="String"> <!-- email중복 체크 -->
		select email from user where email=#{email}
	</select>
	<insert id="insertUser">
		insert into user(email, password, name, phone) values(#{email}, #{password}, #{name}, #{phone})
	</insert>
</mapper>