<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.main.sheerhouse.user.mapper.UserSearchResultMapper">
	<select id="getResult" resultType="com.main.sheerhouse.user.domain.ResultVO">
		select * from home where address like CONCAT('%', #{location}, '%') 	
	</select>
	
	<select id="getDetail" resultType="com.main.sheerhouse.user.domain.ResultVO">
		select * from home where home_seq=#{home_seq} 	
	</select>
	<select id="searchHostEmail" resultType="String">
		select email from host where host_seq=(select host_seq from home where home_seq=#{home_seq})
	</select>
	<select id="getComment" resultType="com.main.sheerhouse.user.domain.CommentVO">
		select * from comment where home_seq=#{home_seq}
	</select>
</mapper>